<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <technodelight_symfonydebug>
                <enabled>0</enabled>
                <file_link_format><![CDATA[phpstorm://open?file=%f&line=%l]]></file_link_format>
            </technodelight_symfonydebug>
        </dev>
    </default>
</config>
